.file id="file-id-#{file.id}"
  p = link_to file.filename.to_s, url_for(file)
  - if FilePolicy.new(current_user, file).destroy?
    p = link_to "Delete file", file_path(file), method: :delete, remote: true
